body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

@keyframes rotate {
  from {
    transform: rotate(45deg);
  }

  to {
    transform: rotate(405deg);
  }
}

@keyframes heart {
  0% {
    transform: rotate(45deg) scale(0.8);
  }
  5% {
    transform: rotate(45deg) scale(0.9);
  }
  10% {
    transform: rotate(45deg) scale(0.8);
  }
  15% {
    transform: rotate(45deg) scale(1);
  }
  50% {
    transform: rotate(45deg) scale(0.8);
  }
  100% {
    transform: rotate(45deg) scale(0.8);
  }
}

.heart {
  position: relative;
  width: 100px;
  height: 100px;
  transform: rotate(45deg);
  background-color: red;
  animation: heart 1.5s infinite;
  /* animation: rotate 2s linear infinite; */
}

.heart::before,
.heart::after {
  position: absolute;
  content: "";
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: red;
}

.heart::before {
  left: -50px;
}

.heart::after {
  top: -50px;
}
