header {
    background-color: red;
    border: 5px solid grey;
    border-radius: 10px;
}

header .navigation {
    background-color: aqua;
}

.content {
    border: 1px dotted black;
    padding: 20px;
    margin: 10px;
    background-color: rgba(230, 230, 230, 0.5);
}

[class^="image"] {
    
}

section > article:first-child {
    background-color: palevioletred;
}

section:hover {
    cursor: pointer;
}

#main-content {
    background-color: greenyellow;
}

.mydiv {
    border: 2px solid green;
    width: 500px;
    height: 200px;
    position: relative;
}

.circle {
    border: 1px solid pink;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
}

.image-container {
    width: 400px;
    border: 1px solid burlywood;
}

.image {
    width: 100%;
}