aside {
    background-color: pink;
}

main {
    background-color: yellow;
}

section {
    background-color: purple;
}
article {
    width: 100%;
    height: 200px;
    border: 1px solid #32F5AB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid grey;
}

@media screen and (min-width: 500px) {
    aside {
        width: 200px;
    }

    main {
        width: 300px;
        background-color: orange;
    }

    section {
        width: 50px;
    }

    .container {
        flex-direction: row;
        /* justify-content: flex-end; */
        flex-wrap: wrap;
        gap: 10px;
    }
}