@use "variables" as v;

@mixin box($color, $size: 100px) {
  width: $size;
  height: calc($size/2);
  background-color: $color;
}

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

@mixin for-size($size) {
  @if $size == tablet {
    @media screen and (min-width: v.$tablet) {
      @content;
    }
  } @else if $size == desktop {
    @media screen and (min-width: v.$desktop) {
      @content;
    }
  }
}
